#footer-info,#footer-places{display:none}.mw-geshi div[class*="source"]{background:#FCFCFC url(http://kb.wpbakery.com/assets/code-bg.gif);padding:18px;margin:15px 0;border:1px solid #f6f6f6}#bodyContent .mw-geshi div[class*="source"] pre{font-size:13px;line-height:18px}@media print{  }

/* cache key: wpbakery_wiki:resourceloader:filter:minify-css:7:0250a17e2bec3d5e595c6fbe4df25737 */
